In [75]:
import pandas as pd

df = pd.read_excel('train.xlsx')

In [76]:
df['bdate'].value_counts()
df['bdate'] = pd.to_datetime(df['bdate'])

In [77]:
df

,id,sex,bdate,has_photo,has_mobile,followers_count,graduation,education_form,relation,education_status,life_main,people_main,city,last_seen,occupation_type,career_start,career_end,result
0,64100,2,1990-04-23,1,1.0,150.0,2012.0,Full-time,2.0,Student (Specialist),9,0,Kaliningrad,2020-08-19 20:47:43,university,False,False,0
1,46851,2,2022-04-11,0,1.0,92.0,2011.0,Distance Learning,4.0,Alumnus (Specialist),0,0,NaN,2020-12-25 10:31:53,university,False,False,0
2,13159,2,2022-10-05,0,1.0,62.0,2012.0,Full-time,0.0,Alumnus (Specialist),0,6,Mogilev,2020-03-06 03:37:47,university,False,False,0
3,59148,1,1967-03-01,0,1.0,179.0,1989.0,Full-time,4.0,PhD,9,7,Moscow,2020-10-10 18:06:27,university,False,False,0
4,58719,1,2022-02-13,0,1.0,142.0,2009.0,NaN,0.0,Alumnus (Specialist),0,0,Moscow,2020-05-07 14:36:26,work,2010,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,41536,1,1991-12-24,1,1.0,520.0,2013.0,Full-time,0.0,Student (Specialist),1,2,Vladivostok,2020-10-01 02:32:28,university,False,False,1
7019,70886,1,1986-12-11,0,1.0,576.0,2011.0,Distance Learning,0.0,Student (Specialist),0,0,Taganrog,2020-06-07 15:09:46,university,False,False,1
7020,77458,2,2022-06-13,1,1.0,211.0,2018.0,Full-time,0.0,Student (Specialist),9,7,Parfino,2020-07-23 13:49:57,university,False,False,1
7021,70625,1,1987-11-17,0,1.0,75.0,2013.0,Part-time,0.0,Student (Bachelor's),6,2,Moscow,2020-08-25 08:58:42,university,False,False,0
7022,67435,2,1986-02-06,0,1.0,876.0,2008.0,Full-time,4.0,Student (Master's),0,0,NaN,2020-09-27 01:00:11,work,2014,False,1

In [78]:
from datetime import date,datetime

today= date.today()

year= []

for i in df['bdate']:
    year.append(i.year)

df1 = df.assign(year=year)

df1

,id,sex,bdate,has_photo,has_mobile,followers_count,graduation,education_form,relation,education_status,life_main,people_main,city,last_seen,occupation_type,career_start,career_end,result,year
0,64100,2,1990-04-23,1,1.0,150.0,2012.0,Full-time,2.0,Student (Specialist),9,0,Kaliningrad,2020-08-19 20:47:43,university,False,False,0,1990
1,46851,2,2022-04-11,0,1.0,92.0,2011.0,Distance Learning,4.0,Alumnus (Specialist),0,0,NaN,2020-12-25 10:31:53,university,False,False,0,2022
2,13159,2,2022-10-05,0,1.0,62.0,2012.0,Full-time,0.0,Alumnus (Specialist),0,6,Mogilev,2020-03-06 03:37:47,university,False,False,0,2022
3,59148,1,1967-03-01,0,1.0,179.0,1989.0,Full-time,4.0,PhD,9,7,Moscow,2020-10-10 18:06:27,university,False,False,0,1967
4,58719,1,2022-02-13,0,1.0,142.0,2009.0,NaN,0.0,Alumnus (Specialist),0,0,Moscow,2020-05-07 14:36:26,work,2010,False,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,41536,1,1991-12-24,1,1.0,520.0,2013.0,Full-time,0.0,Student (Specialist),1,2,Vladivostok,2020-10-01 02:32:28,university,False,False,1,1991
7019,70886,1,1986-12-11,0,1.0,576.0,2011.0,Distance Learning,0.0,Student (Specialist),0,0,Taganrog,2020-06-07 15:09:46,university,False,False,1,1986
7020,77458,2,2022-06-13,1,1.0,211.0,2018.0,Full-time,0.0,Student (Specialist),9,7,Parfino,2020-07-23 13:49:57,university,False,False,1,2022
7021,70625,1,1987-11-17,0,1.0,75.0,2013.0,Part-time,0.0,Student (Bachelor's),6,2,Moscow,2020-08-25 08:58:42,university,False,False,0,1987
7022,67435,2,1986-02-06,0,1.0,876.0,2008.0,Full-time,4.0,Student (Master's),0,0,NaN,2020-09-27 01:00:11,work,2014,False,1,1986

In [79]:
age = []

for i in df1['year']:
    age.append(2022-i)

df1.drop(['bdate', 'year'], axis=1, inplace=True)

df1 = df1.assign(age=age)

df1

,id,sex,has_photo,has_mobile,followers_count,graduation,education_form,relation,education_status,life_main,people_main,city,last_seen,occupation_type,career_start,career_end,result,age
0,64100,2,1,1.0,150.0,2012.0,Full-time,2.0,Student (Specialist),9,0,Kaliningrad,2020-08-19 20:47:43,university,False,False,0,32
1,46851,2,0,1.0,92.0,2011.0,Distance Learning,4.0,Alumnus (Specialist),0,0,NaN,2020-12-25 10:31:53,university,False,False,0,0
2,13159,2,0,1.0,62.0,2012.0,Full-time,0.0,Alumnus (Specialist),0,6,Mogilev,2020-03-06 03:37:47,university,False,False,0,0
3,59148,1,0,1.0,179.0,1989.0,Full-time,4.0,PhD,9,7,Moscow,2020-10-10 18:06:27,university,False,False,0,55
4,58719,1,0,1.0,142.0,2009.0,NaN,0.0,Alumnus (Specialist),0,0,Moscow,2020-05-07 14:36:26,work,2010,False,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,41536,1,1,1.0,520.0,2013.0,Full-time,0.0,Student (Specialist),1,2,Vladivostok,2020-10-01 02:32:28,university,False,False,1,31
7019,70886,1,0,1.0,576.0,2011.0,Distance Learning,0.0,Student (Specialist),0,0,Taganrog,2020-06-07 15:09:46,university,False,False,1,36
7020,77458,2,1,1.0,211.0,2018.0,Full-time,0.0,Student (Specialist),9,7,Parfino,2020-07-23 13:49:57,university,False,False,1,0
7021,70625,1,0,1.0,75.0,2013.0,Part-time,0.0,Student (Bachelor's),6,2,Moscow,2020-08-25 08:58:42,university,False,False,0,35
7022,67435,2,0,1.0,876.0,2008.0,Full-time,4.0,Student (Master's),0,0,NaN,2020-09-27 01:00:11,work,2014,False,1,36

In [80]:
df1.info()

mn = int(df1['age'].mean())

print(mn)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7023 non-null   int64
 1   sex               7023 non-null   int64
 2   has_photo         7023 non-null   int64
 3   has_mobile        7023 non-null   float64
 4   followers_count   7023 non-null   float64
 5   graduation        7023 non-null   float64
 6   education_form    6501 non-null   object
 7   relation          7023 non-null   float64
 8   education_status  7023 non-null   object
 9   life_main         7023 non-null   int64
 10  people_main       7023 non-null   int64
 11  city              6573 non-null   object
 12  last_seen         7023 non-null   datetime64[ns]
 13  occupation_type   6868 non-null   object
 14  career_start      7023 non-null   object
 15  career_end        7023 non-null   object
 16  result            7023 non-null   int64
 17  age               7023 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(7), object(6)
memory usage: 987.7+ KB
21

In [81]:
df1['age'].replace(0,mn,inplace=True)

df1

,id,sex,has_photo,has_mobile,followers_count,graduation,education_form,relation,education_status,life_main,people_main,city,last_seen,occupation_type,career_start,career_end,result,age
0,64100,2,1,1.0,150.0,2012.0,Full-time,2.0,Student (Specialist),9,0,Kaliningrad,2020-08-19 20:47:43,university,False,False,0,32
1,46851,2,0,1.0,92.0,2011.0,Distance Learning,4.0,Alumnus (Specialist),0,0,NaN,2020-12-25 10:31:53,university,False,False,0,21
2,13159,2,0,1.0,62.0,2012.0,Full-time,0.0,Alumnus (Specialist),0,6,Mogilev,2020-03-06 03:37:47,university,False,False,0,21
3,59148,1,0,1.0,179.0,1989.0,Full-time,4.0,PhD,9,7,Moscow,2020-10-10 18:06:27,university,False,False,0,55
4,58719,1,0,1.0,142.0,2009.0,NaN,0.0,Alumnus (Specialist),0,0,Moscow,2020-05-07 14:36:26,work,2010,False,1,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,41536,1,1,1.0,520.0,2013.0,Full-time,0.0,Student (Specialist),1,2,Vladivostok,2020-10-01 02:32:28,university,False,False,1,31
7019,70886,1,0,1.0,576.0,2011.0,Distance Learning,0.0,Student (Specialist),0,0,Taganrog,2020-06-07 15:09:46,university,False,False,1,36
7020,77458,2,1,1.0,211.0,2018.0,Full-time,0.0,Student (Specialist),9,7,Parfino,2020-07-23 13:49:57,university,False,False,1,21
7021,70625,1,0,1.0,75.0,2013.0,Part-time,0.0,Student (Bachelor's),6,2,Moscow,2020-08-25 08:58:42,university,False,False,0,35
7022,67435,2,0,1.0,876.0,2008.0,Full-time,4.0,Student (Master's),0,0,NaN,2020-09-27 01:00:11,work,2014,False,1,36

In [82]:
df1[list(pd.get_dummies(df1['education_form']).columns)] = pd.get_dummies(df1["education_form"])

In [83]:
df1.drop('education_form', axis=1, inplace=True)

df1

,id,sex,has_photo,has_mobile,followers_count,graduation,relation,education_status,life_main,people_main,city,last_seen,occupation_type,career_start,career_end,result,age,Distance Learning,Full-time,Part-time
0,64100,2,1,1.0,150.0,2012.0,2.0,Student (Specialist),9,0,Kaliningrad,2020-08-19 20:47:43,university,False,False,0,32,0,1,0
1,46851,2,0,1.0,92.0,2011.0,4.0,Alumnus (Specialist),0,0,NaN,2020-12-25 10:31:53,university,False,False,0,21,1,0,0
2,13159,2,0,1.0,62.0,2012.0,0.0,Alumnus (Specialist),0,6,Mogilev,2020-03-06 03:37:47,university,False,False,0,21,0,1,0
3,59148,1,0,1.0,179.0,1989.0,4.0,PhD,9,7,Moscow,2020-10-10 18:06:27,university,False,False,0,55,0,1,0
4,58719,1,0,1.0,142.0,2009.0,0.0,Alumnus (Specialist),0,0,Moscow,2020-05-07 14:36:26,work,2010,False,1,21,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,41536,1,1,1.0,520.0,2013.0,0.0,Student (Specialist),1,2,Vladivostok,2020-10-01 02:32:28,university,False,False,1,31,0,1,0
7019,70886,1,0,1.0,576.0,2011.0,0.0,Student (Specialist),0,0,Taganrog,2020-06-07 15:09:46,university,False,False,1,36,1,0,0
7020,77458,2,1,1.0,211.0,2018.0,0.0,Student (Specialist),9,7,Parfino,2020-07-23 13:49:57,university,False,False,1,21,0,1,0
7021,70625,1,0,1.0,75.0,2013.0,0.0,Student (Bachelor's),6,2,Moscow,2020-08-25 08:58:42,university,False,False,0,35,0,0,1
7022,67435,2,0,1.0,876.0,2008.0,4.0,Student (Master's),0,0,NaN,2020-09-27 01:00:11,work,2014,False,1,36,0,1,0

In [84]:
df1[list(pd.get_dummies(df1['education_status']).columns)] = pd.get_dummies(df1['education_status'])

df1.drop('education_status', axis = 1, inplace =True)

In [85]:
df1

,id,sex,has_photo,has_mobile,followers_count,graduation,relation,life_main,people_main,city,...,Part-time,Alumnus (Bachelor's),Alumnus (Master's),Alumnus (Specialist),Candidate of Sciences,PhD,Student (Bachelor's),Student (Master's),Student (Specialist),Undergraduate applicant
0,64100,2,1,1.0,150.0,2012.0,2.0,9,0,Kaliningrad,...,0,0,0,0,0,0,0,0,1,0
1,46851,2,0,1.0,92.0,2011.0,4.0,0,0,NaN,...,0,0,0,1,0,0,0,0,0,0
2,13159,2,0,1.0,62.0,2012.0,0.0,0,6,Mogilev,...,0,0,0,1,0,0,0,0,0,0
3,59148,1,0,1.0,179.0,1989.0,4.0,9,7,Moscow,...,0,0,0,0,0,1,0,0,0,0
4,58719,1,0,1.0,142.0,2009.0,0.0,0,0,Moscow,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,41536,1,1,1.0,520.0,2013.0,0.0,1,2,Vladivostok,...,0,0,0,0,0,0,0,0,1,0
7019,70886,1,0,1.0,576.0,2011.0,0.0,0,0,Taganrog,...,0,0,0,0,0,0,0,0,1,0
7020,77458,2,1,1.0,211.0,2018.0,0.0,9,7,Parfino,...,0,0,0,0,0,0,0,0,1,0
7021,70625,1,0,1.0,75.0,2013.0,0.0,6,2,Moscow,...,1,0,0,0,0,0,1,0,0,0
7022,67435,2,0,1.0,876.0,2008.0,4.0,0,0,NaN,...,0,0,0,0,0,0,0,1,0,0

In [86]:
df1[list(pd.get_dummies(df1['occupation_type']).columns)] = pd.get_dummies(df1['occupation_type'])

df1.drop('occupation_type', axis=1, inplace=True)

In [87]:
df1

,id,sex,has_photo,has_mobile,followers_count,graduation,relation,life_main,people_main,city,...,Alumnus (Master's),Alumnus (Specialist),Candidate of Sciences,PhD,Student (Bachelor's),Student (Master's),Student (Specialist),Undergraduate applicant,university,work
0,64100,2,1,1.0,150.0,2012.0,2.0,9,0,Kaliningrad,...,0,0,0,0,0,0,1,0,1,0
1,46851,2,0,1.0,92.0,2011.0,4.0,0,0,NaN,...,0,1,0,0,0,0,0,0,1,0
2,13159,2,0,1.0,62.0,2012.0,0.0,0,6,Mogilev,...,0,1,0,0,0,0,0,0,1,0
3,59148,1,0,1.0,179.0,1989.0,4.0,9,7,Moscow,...,0,0,0,1,0,0,0,0,1,0
4,58719,1,0,1.0,142.0,2009.0,0.0,0,0,Moscow,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,41536,1,1,1.0,520.0,2013.0,0.0,1,2,Vladivostok,...,0,0,0,0,0,0,1,0,1,0
7019,70886,1,0,1.0,576.0,2011.0,0.0,0,0,Taganrog,...,0,0,0,0,0,0,1,0,1,0
7020,77458,2,1,1.0,211.0,2018.0,0.0,9,7,Parfino,...,0,0,0,0,0,0,1,0,1,0
7021,70625,1,0,1.0,75.0,2013.0,0.0,6,2,Moscow,...,0,0,0,0,1,0,0,0,1,0
7022,67435,2,0,1.0,876.0,2008.0,4.0,0,0,NaN,...,0,0,0,0,0,1,0,0,0,1

In [88]:
from sklearn.model_selection import train_test_split
import xgboost
from sklearn.metrics import confusion_matrix, accuracy_score

df1.drop(['Part-time', 'Candidate of Sciences',"Student (Bachelor's)","Student (Master's)"], axis=1, inplace=True)

corr = df1.corr()

In [89]:


corr.style.background_gradient(cmap='coolwarm')

In [90]:
df1.drop(['has_photo','has_mobile','graduation','life_main','people_main','Distance Learning','PhD','Student (Specialist)','Undergraduate applicant','work'],axis=1, inplace=True)

corr = df1.corr()

corr.style.background_gradient(cmap='coolwarm')

In [94]:
df1

,id,sex,followers_count,relation,city,last_seen,career_start,career_end,result,age,Full-time,Alumnus (Bachelor's),Alumnus (Master's),Alumnus (Specialist),university
0,64100,2,150.0,2.0,Kaliningrad,2020-08-19 20:47:43,False,False,0,32,1,0,0,0,1
1,46851,2,92.0,4.0,NaN,2020-12-25 10:31:53,False,False,0,21,0,0,0,1,1
2,13159,2,62.0,0.0,Mogilev,2020-03-06 03:37:47,False,False,0,21,1,0,0,1,1
3,59148,1,179.0,4.0,Moscow,2020-10-10 18:06:27,False,False,0,55,1,0,0,0,1
4,58719,1,142.0,0.0,Moscow,2020-05-07 14:36:26,2010,False,1,21,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,41536,1,520.0,0.0,Vladivostok,2020-10-01 02:32:28,False,False,1,31,1,0,0,0,1
7019,70886,1,576.0,0.0,Taganrog,2020-06-07 15:09:46,False,False,1,36,0,0,0,0,1
7020,77458,2,211.0,0.0,Parfino,2020-07-23 13:49:57,False,False,1,21,1,0,0,0,1
7021,70625,1,75.0,0.0,Moscow,2020-08-25 08:58:42,False,False,0,35,0,0,0,0,1
7022,67435,2,876.0,4.0,NaN,2020-09-27 01:00:11,2014,False,1,36,1,0,0,0,0

In [96]:
df1.drop(['city','career_start','career_end'],axis=1,inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    7023 non-null   int64
 1   sex                   7023 non-null   int64
 2   followers_count       7023 non-null   float64
 3   relation              7023 non-null   float64
 4   result                7023 non-null   int64
 5   age                   7023 non-null   int64
 6   Full-time             7023 non-null   uint8
 7   Alumnus (Bachelor's)  7023 non-null   uint8
 8   Alumnus (Master's)    7023 non-null   uint8
 9   Alumnus (Specialist)  7023 non-null   uint8
 10  university            7023 non-null   uint8
dtypes: float64(2), int64(4), uint8(5)
memory usage: 363.6 KB

In [98]:
x = df1.drop(["result"],axis=1)

y = df1['result']

In [99]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25)

XGB = xgboost.XGBClassifier()

XGB.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [100]:
y_pred = XGB.predict(x_test)

In [101]:
accuracy_score(y_pred, y_test)

0.820615034168565